l# Created-By ${producer} - terraform-bootstrap-account

# Backend access configuration
# use with -var-file

# role to assume and to assign to the admin instance
admin_role_name = "${admin_role_name}"
admin_role_arn  = "${admin_role_arn}"

#
# This part also act as a backend configuration file
# Do not change the key names
# use with -backend-config in init
#

# choose a role associated to the ec2 instance
# make sure the role has the policy AdministratorAccess
profile  = "${profile}"

# choose a credential file
shared_credentials_file  = "${profile_credentials}"

# make sure the bucket exists
# make user or role has access to the bucket and files
bucket = "${backend_bucket}"

# path to the state file inside the bucket
key = "states/terraform.state"

# choose a region
region = "${region}"
